# Данные
*.csv
*.pkl

# Виртуальные окружения
.venv*/
venv*/
env*/

# Временные и служебные файлы
.tmp/
.mplconfig/
__pycache__/
*.pyc

# Артефакты MLflow
mlflow/artifacts/
mlflow/mlflow.db
mlflow/mlruns.db
mlruns.db
